<a href="https://colab.research.google.com/github/jas-tang/sqlite_database_operations/blob/main/sqlite_database_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Exploration and Aanalysis

In [2]:
#Loading packages
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/stonybrook.csv")
df.sample(5)

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,1199-Commercial other,...,Optum-Commercial other,Oxford-Commercial other,Oxford-Commercial HMO/POS,Tricare-Commercial other,United Healthcare-Commercial other,United Healthcare-Medicare Advantage HMO,United Healthcare-Commercial HMO/POS,United Healthcare-Medicaid HMO,United Healthcare-Commercial PPO/Open Access,Veteran Family-Commercial other
5714,J0897,"INJECTION, DENOSUMAB, 1 MG",Outpatient,Line,74.98,74.98,1.76,9496.83,1339.29,NaN,...,NaN,27.7,NaN,22.51,31.02,19.61,NaN,NaN,NaN,NaN
3553,72052,"X-RAY OF UPPER SPINE, 6 OR MORE VIEWS",Outpatient,Package,1117.82,1117.82,30.00,994.91,521.10,NaN,...,NaN,NaN,NaN,NaN,932.25,NaN,NaN,30.0,NaN,NaN
4010,78072,NUCLEAR MEDICINE STUDY OF PARATHYROID WITH SPE...,Outpatient,Package,1817.80,1817.80,562.15,1094.18,748.79,840.6,...,562.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120,64712,RELEASE OF SCIATIC NERVE,Outpatient,Package,11281.91,11281.91,1438.75,1438.75,1438.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2182,45391,ULTRASOUND EXAM OF LARGE BOWEL USING A FLEXIBL...,Outpatient,Package,5240.67,5240.67,6050.00,6050.00,6050.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(7710, 57)

In [ ]:
#look for missing data
df.isnull()
df.isnull().sum()

Code                                               0
Description                                        0
Type                                             783
Package/Line_Level                               783
Gross charge                                       0
Discounted cash price                              0
De-identified min contracted rate               1456
De-identified max contracted rate               1456
Derived contracted rate                         1456
1199-Commercial other                           6696
Aetna-Medicare Advantage HMO                    6604
Aetna-Commercial HMO/POS                        5883
Aetna-Commercial PPO/Open Access                6098
Aetna-Commercial other                          7582
Empire Health-Commercial other                  4650
Empire Health-Commercial PPO/Open Access        5308
BlueCross BlueShield-Commercial other           6456
Beacon Health-Commercial other                  7707
Carelon Health-Commercial other                 7707
Cigna-Commercial PPO/Open Access                5744
Cigna-Commercial other                          7667
Cigna-Commercial HMO/POS                        7704
EH Facet-Commercial other                       7710
EmblemHealth-Commercial PPO/Open Access         6964
EmblemHealth-Commercial other                   5640
EmblemHealth-Commercial HMO/POS                 6324
EmblemHealth-Medicaid HMO                       7710
EmblemHealth-Medicare Advantage HMO             7710
Empire Health-Commercial HMO/POS                6031
Empire Health-Medicare Advantage HMO            6636
Empire Health-Medicaid HMO                      7708
Evernorth-Commercial other                      7702
Fidelis-Commercial other                        6790
Fidelis-Medicare Advantage HMO                  7442
Fidelis-Medicaid HMO                            5353
GHI-Commercial other                            7710
HealthFirst-Commercial other                    5634
HealthFirst-Medicare Advantage HMO              7608
HealthFirst-Medicaid HMO                        7710
HealthPlus HP-Medicaid HMO                      6920
HealthPlus HP-Commercial other                  7413
HealthPlus HP-Medicare Advantage HMO            7005
Humana-Commercial other                         7677
Humana-Commercial HMO/POS                       7463
Humana-Commercial PPO/Open Access               7236
Meritain Health-Commercial other                7260
Molina-Commercial other                         6963
Optum-Commercial other                          6767
Oxford-Commercial other                         5933
Oxford-Commercial HMO/POS                       7710
Tricare-Commercial other                        7276
United Healthcare-Commercial other              5353
United Healthcare-Medicare Advantage HMO        7086
United Healthcare-Commercial HMO/POS            7577
United Healthcare-Medicaid HMO                  5645
United Healthcare-Commercial PPO/Open Access    7353
Veteran Family-Commercial other                 7664
dtype: int64

I am choosing not to remove any rows with missing values because it does not make sense to do so.

In [ ]:
#Removing White Space and Special Characters
import re
def cleaning(df):
    def clean_name(name):
        cleaned_name = re.sub(r'[^a-zA-Z0-9]', '', name)
        return cleaned_name.lower()

    df.columns = [clean_name(col) for col in df.columns]
    return df

df = cleaning(df)
df.sample(5)

,code,description,type,packagelinelevel,grosscharge,discountedcashprice,deidentifiedmincontractedrate,deidentifiedmaxcontractedrate,derivedcontractedrate,1199commercialother,...,optumcommercialother,oxfordcommercialother,oxfordcommercialhmopos,tricarecommercialother,unitedhealthcarecommercialother,unitedhealthcaremedicareadvantagehmo,unitedhealthcarecommercialhmopos,unitedhealthcaremedicaidhmo,unitedhealthcarecommercialppoopenaccess,veteranfamilycommercialother
137,11765,REMOVAL OF SKIN OF FINGERNAIL OR TOENAIL,Outpatient,Package,884.27,884.27,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,22903,REMOVAL OF GROWTH OF SOFT TISSUE OF ABDOMINAL ...,Outpatient,Line,3075.12,3075.12,3782.0,5127.00,4317.00,NaN,...,NaN,NaN,NaN,NaN,5127.0,NaN,NaN,NaN,NaN,NaN
3337,67923,REPAIR OF TURNING-INWARD EYELID DEFECT,Outpatient,Line,3913.00,3913.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,482,HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT WITH...,Inpatient,Line,75200.94,75200.94,13469.6,15191.54,14115.67,NaN,...,NaN,NaN,NaN,NaN,13469.6,NaN,NaN,NaN,NaN,NaN
7279,30221055,12S1 HOSP.OBSERVATION PT-T,NaN,NaN,8165.00,8165.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Needed numpy for round function
import numpy as np

In [ ]:
#Generating descriptive statistics rounded to two decimal spaces because we're dealing with money
df.describe().round(2)

,grosscharge,discountedcashprice,deidentifiedmincontractedrate,deidentifiedmaxcontractedrate,derivedcontractedrate,1199commercialother,aetnamedicareadvantagehmo,aetnacommercialhmopos,aetnacommercialppoopenaccess,aetnacommercialother,...,optumcommercialother,oxfordcommercialother,oxfordcommercialhmopos,tricarecommercialother,unitedhealthcarecommercialother,unitedhealthcaremedicareadvantagehmo,unitedhealthcarecommercialhmopos,unitedhealthcaremedicaidhmo,unitedhealthcarecommercialppoopenaccess,veteranfamilycommercialother
count,7710.00,7710.00,6254.00,6254.00,6254.00,1014.00,1106.00,1827.00,1612.00,128.00,...,943.00,1777.00,0.0,434.00,2357.00,624.00,133.00,2065.00,357.00,46.00
mean,22748.32,22748.32,4090.69,10035.79,6315.59,5791.54,5614.01,4320.42,4436.19,1703.76,...,10868.21,2572.65,NaN,2070.21,5977.46,4438.78,3261.59,2454.31,789.42,702.26
std,74705.70,74705.70,10576.21,29150.75,14601.85,24302.35,12671.49,8718.54,8881.73,5124.23,...,20703.43,4036.67,NaN,8501.23,16227.98,9982.58,10266.48,11009.14,2880.49,1717.01
min,0.03,0.03,0.01,0.10,0.03,0.01,1.10,0.02,0.50,0.59,...,2.37,0.01,NaN,1.00,0.01,1.33,0.19,0.01,0.18,2.48
25%,1065.90,1065.90,96.52,698.25,403.12,148.80,125.07,277.90,312.75,110.39,...,200.45,197.88,NaN,71.22,258.50,96.29,129.00,42.98,8.40,26.81
50%,4745.30,4745.30,1108.86,4311.00,2600.74,974.40,714.86,2153.00,2153.00,404.50,...,1700.20,1932.38,NaN,236.23,1571.00,387.50,444.00,425.79,34.83,82.71
75%,11038.81,11038.81,4309.53,8170.00,5870.54,4592.00,5782.43,4822.00,4822.00,1778.92,...,13359.90,4704.00,NaN,1486.95,5127.00,3531.92,2257.43,1753.10,286.80,235.00
max,1857952.44,1857952.44,327869.69,1302635.53,370099.90,331304.28,157848.60,99999.99,96372.57,54838.13,...,277267.38,80891.26,NaN,154940.61,291490.75,92493.91,88051.34,327869.69,26350.00,7195.40

In [ ]:
print(df['packagelinelevel'].value_counts())

Line       4691
Package    2236
Name: packagelinelevel, dtype: int64

In [ ]:
print(df['type'].value_counts())

Outpatient    6041
Inpatient      886
Name: type, dtype: int64

#SQLite Database Operations

In [1]:
#loading packages
from sqlalchemy import create_engine
import sqlite3

In [3]:
#Creating a temporary + local DB using SQLITE
conn = sqlite3.connect('health.db')
c = conn.cursor()

In [5]:
#Creating a new table within the health.db database file
c.execute('''
              CREATE TABLE healthinfo
                      (
                        bloodpressure integer,
                        heartreate integer,
                        height_inches real,
                        name text,
                        address text,
                        contact text
                        );
            ''')
conn.commit()

In [6]:
c.execute('''
  SELECT * FROM healthinfo;
''')

print(c.fetchall())
#There's actually nothing in the table yet as we have no inserted data

[]

In [15]:
#Inserting the data into the database, health.db

sql_query = '''
INSERT INTO healthinfo (
  'bloodpressure',
  'heartreate',
  'height_inches',
  'name',
  'address',
  'contact'
  )
  values (
    90,
    85,
    57.25,
    'Jane Doe',
    '68 McDonalds Rd',
    'janedoe@gmail.com'
  );
'''
print(sql_query)

INSERT INTO healthinfo (
  'bloodpressure',
  'heartreate',
  'height_inches',
  'name',
  'address',
  'contact'
  )
  values (
    90,
    85,
    57.25,
    'Jane Doe',
    '68 McDonalds Rd',
    'janedoe@gmail.com'
  );

In [16]:
c.execute(sql_query)
conn.commit()

Checking to see if the row has been inserted

In [17]:
sql_query_2 = """

select *
from healthinfo;

"""

c.execute(sql_query_2)
print(c.fetchall())

[(90, 85, 57.25, 'Jane Doe', '68 McDonalds Rd', 'janedoe@gmail.com')]

Check with Pandas

In [18]:
pd.read_sql_query("select * from healthinfo;", conn)

,bloodpressure,heartreate,height_inches,name,address,contact
0,90,85,57.25,Jane Doe,68 McDonalds Rd,janedoe@gmail.com